.G1 {
    transform: translate(20px, 20px) rotate(-25deg);
}

.e1 {
    transform: translate(13px, 0px) rotate(-23deg);
}

.e2 {
    transform: translate(10px, -10px) rotate(-21deg);
}

.k1 {
    transform: translate(3px, -22px) rotate(-19deg);
}

.s1 {
    transform: translate(2px, -30px) rotate(-19deg);
}

.f {
    transform: translate(1px, -40px) rotate(-21deg);
}

.o {
    transform: translate(0px, -50px) rotate(-10deg);
}

.r {
    transform: translate(-1px, -60px) rotate(0deg);
}

.G2 {
    transform: translate(-4px, -65px) rotate(0deg);
}

.e3 {
    transform: translate(-7px, -70px) rotate(0deg);
}

.e4 {
    transform: translate(-6px, -75px) rotate(-10deg);
}

.k2 {
    transform: translate(-7px, -77px) rotate(0deg);
}

.s2 {
    transform: translate(-7px, -79px) rotate(-6deg);
}

.e4 {
    transform: translate(-7px, -80px) rotate(-4deg);
}

.e5 {
    transform: translate(13px, -80px) rotate(-2deg);
}

.e6 {
    transform: translate(-7px, -78px) rotate(0deg);
}

.e7 {
    transform: translate(-7px, -75px) rotate(0deg);
}

.e8 {
    transform: translate(-7px, -75px) rotate(0deg);
}

.e9 {
    transform: translate(-7px, -75px) rotate(0deg);
}

.e11 {
    transform: translate(-7px, -70px) rotate(3deg);
}

.e12 {
    transform: translate(-7px, -66px) rotate(3deg);
}

.e13 {
    transform: translate(-7px, -60px) rotate(4deg);
}

.e14 {
    transform: translate(-7px, -56px) rotate(-4deg);
}

.e15 {
    transform: translate(-7px, -46px) rotate(-4deg);
}

.e16 {
    transform: translate(-7px, -36px) rotate(-4deg);
}

.e17 {
    transform: translate(-7px, -33px) rotate(-4deg);
}

.e18 {
    transform: translate(-7px, -25px) rotate(5deg);
}

.e19 {
    transform: translate(-7px, -12px) rotate(-4deg);
}

.e20 {
    transform: translate(-10px, 0px) rotate(0deg);
}

.e22 {
    transform: translate(-7px, 250px) rotate(0deg);
}

.e24 {
    transform: translate(20px, 250px) rotate(0deg);
}

.e25 {
    transform: translate(20px, 250px) rotate(0deg);
}

.e26 {
    transform: translate(20px, 250px) rotate(0deg);
}

.e27 {
    transform: translate(20px, 250px) rotate(0deg);
}

.e28 {
    transform: translate(20px, 250px) rotate(0deg);
}

.e29 {
    transform: translate(20px, 250px) rotate(0deg);
}

.e30 {
    transform: translate(20px, 250px) rotate(0deg);
}

span {
    display: inline-block;
}

#interface {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}

.text {
    position: absolute;
    z-index: 2;
    top: 0;
    color: #0f0a0a;
}

#mypage {
    padding: 0;
    margin: 0;
    width: 700px;
}

h3 {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Luckiest Guy', cursive;
    font-size: 35px;
}

path {
    fill: transparent;
}

text {
    fill: #FF9800;
}

path {
    fill: transparent;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

header .text li a {
    color: black;
    font-weight: 300;
    text-decoration: none;
}

li {
    display: inline-block;
    cursor: pointer;
}

header.text {
    color: black;
    font-weight: 700;
    font-size: 1.5em;
    text-decoration: none;
}

a {
    color: white;
    font-size: 80%;
}

#mypage li {
    display: inline;
    list-style: none;
}

.container {
    display: inline-block;
    position: relative;
}

.container .text {
    z-index: 1;
    position: absolute;
    text-align: center;
}

#myfirstid {
    position: relative;
    left: 100px;
}

#mydate {
    font-weight: bold;
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-align: right;
}