
h1{
    background-color: rgb(168, 33, 168);
}

h2{
    color:rgb(5, 4, 92);
    font-size: 25px;
}
h4{
    color: rgb(158, 138, 22);
}
.p1{
    line-height:1.7em ;
}
.leftside {
    height: 100vh;
    width: 120%;

}
.rightside{
    height: 100vh;
    width: 80%;}

#fond{
    position: relative;
    top : 30px;
    
}
#netherlands{
    position: relative;
    left: 120px;
}
#carte{
    position: relative;
    left: 120px;
}
#myid{
    position: relative;
    left: 50px;
}
.myt{
    border: 1px solid blue;
}
.mytd{border: 1px solid blue;}

td.content { 
    color:rgb(156, 96, 6);
    border: 1px solid blue;

}
.line{border: 1px solid blue;}

td.line { 
    color:rgb(48, 115, 240);
    border: 1px solid blue;
}
td.max{
    color: rgb(184, 18, 18);
    border: 1px solid blue;
}
td.min{
    color: rgb(133, 18, 75);
    border: 1px solid blue;
}
td.moy{
    color: rgb(14, 200, 233);
    border: 1px solid blue;
}
.mer{border: 1px solid blue;}
.tempmer{border: 1px solid blue;}
.first{
    font-size: 40px;
    color: brown;
}
#mydate{
font-weight: bold;
font-size: 20px;
color: rgb(0, 0, 0);
}
#myfirstid{
    position: relative;
    left: 30px;
}
#myid{
    width: 800px;
float: left;
}
#secondid{
    margin-left: 900px;
    bottom: 100px;
}
#global {    
    width: 1300px;
    }
    .p2{
        line-height:1.7em ;
        font-weight: bold;
        font-size: 20px;
    }
    #demo{
        font-weight: bold;
        font-size: 30px;
        color:rgb(5, 4, 92);
    }